body {
    background-image: url(../images/fundo.jpg);
    cursor: none;
    overflow: hidden;
}

#nave {
    position: absolute;
}

.estrela {
    animation: orbita 4s linear infinite;
}

@keyframes orbita {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

.naoSelecionavel {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bala {
    position: absolute;
    width: 20px;
    height: 20px;
}