* {
    cursor: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-image: url(../images/fundo.jpg);
    overflow: hidden;
}

#nave {
    position: absolute;
    z-index: 9999;
}

.estrela {
    position: absolute;
    animation: orbita 2s linear infinite;
}

.bala {
    position: absolute;
    width: 20px;
    height: 20px;
    animation-name: moveBala;
    animation-duration: 4s;
}

.gameboard {
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    color: white;
    margin-left: 43%;
}

.vida {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: green;
}

.efeitoPerca {
    animation-name: efeitoPercaVida;
    animation-duration: 1s;
}

button {
    position: absolute;
    top: 50%;
    left: 44%;
    max-width: 200px;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.boss {
    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

@keyframes efeitoPercaVida {
    from {
        background-color: green;
    }
    to {
        background-color: red;
    }
}

@keyframes orbita {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes MoveUpDown {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 700px;
    }
    100% {
        bottom: 0;
    }
}