* {
    cursor: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/fundo.jpg);
    overflow: hidden;
}

#nave {
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 50px;
}

#nave img {
    width: 100%;
    height: 100%;
}

.estrela {
    position: absolute;
}

.bala {
    position: absolute;
    width: 20px;
    height: 20px;
}

.gameboard {
    position: absolute;
    bottom: 10px;
    font-size: 40px;
    color: white;
    margin-left: 43%;
}

.vida {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: green;
}

.efeitoPerca {
    animation-name: efeitoPercaVida;
    animation-duration: 0.3s;
}

.efeitoGanho {
    animation-name: efeitoGanhoVida;
    animation-duration: 0.8s;
}

button {
    position: absolute;
    top: 50%;
    left: 44%;
    max-width: 200px;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.boss {
    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

.titulo {
    margin: 0 auto;
    color: white;
    font-size: 60px;
    margin-left: 38%;
}

.labelDerrota {
    margin: 0 auto;
    color: white;
    font-size: 120px;
    margin-left: 27%;
    margin-top: 3%;
    z-index: 50;
}

.buttonDerrota {
    z-index: 50;
}

.desceDireita {
    animation: desceD 2s linear;
}

.desceEsquerda {
    animation: desceE 2s linear;
}


/*Animações usadas nas classes*/

@keyframes efeitoPercaVida {
    0% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

@keyframes efeitoGanhoVida {
    0% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}

@keyframes desceD {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(500px, 1000px);
    }
}

@keyframes desceE {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-500px, 1000px);
    }
}

@keyframes MoveUpDown {
    0% {
        bottom: -5px;
    }
    50% {
        bottom: 700px;
    }
    100% {
        bottom: -5px;
    }
}